.tabs {
  // min-width: 320px;
  max-width: 100%;
  // padding: 50px;
  margin: 0 auto;
  background: #fff;

  &-content {
    display: none;
    font: 300 18px/24px $pri-font;
    color: $light-gray;
    border-top: 1px solid #ddd;
    padding-top: 44px;

    p {
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }

  input {
    display: none;
  }

  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font: 300 19px $pri-font;
    text-align: center;
    color: $light-gray;
    border: 1px solid transparent;
  }

  // label:before {
  //   font-family: fontawesome;
  //   font-weight: normal;
  //   margin-right: 10px;
  // }
  //
  // label[for*='1']:before { content: '\f1cb'; }
  // label[for*='2']:before { content: '\f17d'; }
  // label[for*='3']:before { content: '\f16b'; }
  // label[for*='4']:before { content: '\f1a9'; }

  label:hover {
    color: #888;
    cursor: pointer;
  }

  input:checked + label {
    font-weight: 500;
    color: $light-blue;
    border-bottom: 3px solid $light-blue;
  }

    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2,
    #tab3:checked ~ #content3,
    #tab4:checked ~ #content4 {
      display: block;
    }

    @media screen and (max-width: 650px) {
      label {
        font-size: 14PX;
      }
      label:before {
        margin: 0;
        font-size: 18px;
      }
    }

    @media screen and (max-width: 400px) {
      label {
        padding: 15px;
      }
    }
}
